@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css ou App.css */
html, body, #root {
    height: 100%;
}

#root {
    background-color: white;
    transition: background-color 0.3s ease;
}

.dark #root {
    background-color: black;
}
